@font-face {
	font-family: 'Futura-Bold';
	src: url('6551.eot');
	src: local('☺'), url('6551.woff') format('woff'), url('6551.ttf') format('truetype'), url('6551.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_13400';
	src: url('13400.eot');
	src: local('☺'), url('13400.woff') format('woff'), url('13400.ttf') format('truetype'), url('13400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'futuraMediumBT';
	src: url('./futuraMediumBT.eot');
	src: local('futuraMediumBT'), url('./futuraMediumBT.woff') format('woff'), url('./futuraMediumBT.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura LT Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Regular'), url('FuturaLT.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Book';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Book'), url('FuturaLT-Book.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Oblique'), url('FuturaLT-Oblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT BookOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT BookOblique'), url('FuturaLT-BookOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Light';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Light'), url('FuturaLT-Light.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedLight';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedLight'), url('FuturaLT-CondensedLight.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT LightOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT LightOblique'), url('FuturaLT-LightOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedLightObl';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedLightObl'), url('FuturaLT-CondensedLightObl.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Condensed'), url('FuturaLT-Condensed.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedOblique'), url('FuturaLT-CondensedOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT ExtraBold'), url('FuturaLT-ExtraBold.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Bold'), url('FuturaLT-Bold.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedBold';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedBold'), url('FuturaLT-CondensedBold.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedExtraBold'), url('FuturaLT-CondensedExtraBold.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT ExtraBoldOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT ExtraBoldOblique'), url('FuturaLT-ExtraBoldOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT BoldOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT BoldOblique'), url('FuturaLT-BoldOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondExtraBoldObl';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondExtraBoldObl'), url('FuturaLT-CondExtraBoldObl.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT CondensedBoldOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT CondensedBoldOblique'), url('FuturaLT-CondensedBoldOblique.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Heavy'), url('FuturaLT-Heavy.woff') format('woff');
}


@font-face {
	font-family: 'Futura LT HeavyOblique';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT HeavyOblique'), url('FuturaLT-HeavyOblique.woff') format('woff');
}
/* This stylesheet generated by Transfonter (https://transfonter.org) on October 3, 2017 10:08 PM */

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
	url('OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-SemiBoldItalic.woff') format('woff'),
	url('OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
	url('OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-LightItalic.woff') format('woff'),
	url('OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
	url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Bold.woff') format('woff'),
	url('OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
	url('OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-ExtraBoldItalic.woff') format('woff'),
	url('OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
	url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Light.woff') format('woff'),
	url('OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
	url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Italic.woff') format('woff'),
	url('OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Regular.woff') format('woff'),
	url('OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
	url('OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-SemiBold.woff') format('woff'),
	url('OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
	url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-ExtraBold.woff') format('woff'),
	url('OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
	url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-BoldItalic.woff') format('woff'),
	url('OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
